__pycache__/
chagt app 2/online_dataimporter/documentation
chat app 2/online_dataimporter/documentation/Defect_report_template.docx
chat app 2/online_dataimporter/documentation/Incident_report_template.docx
chat app 2/online_dataimporter/documentation/Test_report_template.docx